.patient{
    .title{
        height: 88px;
        padding: 30px 30px 10px;
        h2{
            font-size: 24px;
            line-height: 36px;
            padding-right: 30px;
            display: inline-block;
            vertical-align: top;
        }
    }
    //列表
    .list{
        padding: 0 15px;
        .el-col{
            padding:10px 15px;
            display: inline;
            min-width: 280px;
        }
        .info-box{
            min-height: 260px;
        }
        .visit{
            .key-red{
                font-size: 18px;
                color: #E23E2C;
            }
        }
        
    }
}
// 个人信息
.personal-data{
    position: relative;
    dl{
        padding-bottom:15px;
        padding-left: 90px;
        padding-top: 5px;
    }
    dt{
        float: left;
        margin-left: -90px;
        margin-top: 5px;
    }
    dd{
        p{
            padding-bottom: 3px;
        }
        span{
            padding-right:15px;
        }
    }
    .name{
        font-size: 18px;
        vertical-align: middle;
    }
    .tag{
        font-size: 12px;
        color: #FFFFFF;
        padding:0 4px;
        display: inline-block;
        vertical-align: middle;
        &.tag-high{
            background: #F5A623;
        }
    }
    .doct-dropdown{
        position: absolute;
        right: 0px;
        top: 0px;
        cursor: pointer;
        text-align: center;
        .el-button--text{
            padding:6px;
            border:1px solid rgba(208,215,221,0);
            color: rgba(208,215,221,0.73);
            font-size: 18px;
            &:hover{
                color: #4990E2;
                border:1px solid #4990E2;
            }
        }
    }
    .doct-button{
        position: absolute;
        right: 20px;
        top: 20px;
    }
}
// 添加新人
.addContact{
    width: 650px;
    .el-dialog__header{
        text-align: center;
        span{
            font-size: 24px;
        }
        
    }
    .el-dialog__footer{
        text-align: center;
        .el-button{
            min-width: 100px;
        }
    }    
}